@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Fjalla+One&family=GFS+Neohellenic&family=Rowdies&display=swap');

body {
  margin: 0;
  font-family: 'Rowdies', 'Fjalla One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  source-code-pro, 'GFS Neohellenic', sans-serif;
}
